.header {
    /*height: 95vh;*/
    /*background-image: linear-gradient(*/
            /*to right bottom,*/
            /*rgba(95, 209, 213, 0.39),*/
            /*rgba(50, 129, 213, 0.24)),*/
    /*url("../../images/StaticPageHeader_1600x1200_Snowboard_Jamie_Action_1.jpg");*/
    /*background-size: cover;*/
    background-position: right center;
    position: relative;
}

.logo-box {
    position: absolute;
    top:40px;
    left: 40px;
}
.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    z-index: 0;
}
.heading-primary {

    text-align: center;
    color: #fff;
    font-size: 55px;
    margin-bottom: 40px;
    backface-visibility: hidden;
    z-index: 0;
}
.heading-primary-main {
    font-weight: 100;
    display: block;
    letter-spacing: 35px;
    padding-left: 20px;



    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    font-size: 49px;
    font-family: "Arial Narrow";
}
.heading-primary-sub {
    font-size:46px;
    font-family: "Arial";
    font-weight: 600;
    display: block;
    letter-spacing: 12px;

    animation: moveInRight 3s ease-out;


}

@media only screen and (max-width: 500px) {
    .heading-primary-main {
        font-weight: 100;
        display: block;
        letter-spacing: 25px;
        padding-left: 20px;



        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;

        font-size: 32px;
        font-family: "Arial Narrow";
    }
    .heading-primary-sub {
        font-size:28px;
        font-family: "Arial";
        font-weight: 600;
        display: block;
        letter-spacing: 12px;

        animation: moveInRight 3s ease-out;


    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(12px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-12px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link,
.btn:visited{
    /*text-transforms: uppercase;*/
    text-decoration: none;
    color: #777;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 7px 12px rgba(0,0,0,.34);
}
.btn-white {
    background-color: #fff;
    color: #777;
}
