.intro {
    /*display:inline-block !important;*/
    /*width:50% !important;*/
    -webkit-column-width: 500px;
    -moz-column-width: 500px;
    column-width: 500px;
}

.intro-top {
    padding: 30px 0 30px 0;
}
/*.intro-image {*/
    /*max-width: 500px;*/
    /*height: auto;*/
    /*display: inline-block;*/
/*}*/
/*.intro-text {*/
    /*display: inline-block;*/
    /*padding: 35px 25px 35px 25px;*/
/*}*/
.intro-bold {
    /*width: 50%;*/
    font: 700 40px "worksansbold","Open Sans","Arial",sans-serif;
    letter-spacing: 2px;
    line-height: 40px;

    border-left: 5px solid rgb(0, 240, 220);

    padding-left: 15px;

}
.intro-button {
    text-align: center;
    margin: 25px;

}
.test {
    border: #00F0DC 2px solid;
}
/*@media only screen and (max-width: 480px) {*/
    /*!*.column50 {*!*/
    /*!*display:block !important;*!*/
    /*!*width:100% !important;*!*/
    /*!*}*!*/
    /*.intro-image {*/
        /*max-width: 80%;*/
        /*height: auto;*/
        /*display: inline-block;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 800px) {*/
    /*!*.column50 {*!*/
        /*!*display:block !important;*!*/
        /*!*width:100% !important;*!*/
    /*!*}*!*/
    /*.intro-image {*/
        /*max-width: 100%;*/
        /*height: auto;*/
        /*display: inline-block;*/
    /*}*/
    /*.intro {*/
        /*!*display:inline-block !important;*!*/
        /*!*width:50% !important;*!*/
        /*-webkit-column-width: 350px;*/
        /*-moz-column-width: 350px;*/
        /*column-width: 350px;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 1000px) {*/
    /*!*.column50 {*!*/
    /*!*display:block !important;*!*/
    /*!*width:100% !important;*!*/
    /*!*}*!*/
    /*.intro-image {*/
        /*max-width: 100%;*/
        /*height: auto;*/
        /*display: inline-block;*/
    /*}*/
    /*.intro {*/
        /*!*display:inline-block !important;*!*/
        /*!*width:50% !important;*!*/
        /*-webkit-column-width: 350px;*/
        /*-moz-column-width: 350px;*/
        /*column-width: 350px;*/
    /*}*/
/*}*/
