.intro {
    /*display:inline-block !important;*/
    /*width:50% !important;*/
    -webkit-column-width: 450px;
    -moz-column-width: 450px;
    column-width: 450px;
}

.intro-top {
    padding: 30px 0 30px 0;
}
.intro-image {
    max-width: 480px;
    height: auto;
    display: inline-block;
}
.intro-text {
    display: inline-block;
    padding: 35px 25px 35px 25px;
}
.intro-bold {
    /*width: 50%;*/
    font: 700 40px "worksansbold","Open Sans","Arial",sans-serif;
    letter-spacing: 2px;
    line-height: 40px;

    border-left: 5px solid rgb(0, 240, 220);

    padding-left: 15px;

}
@media only screen and (max-width: 480px) {
    /*.column50 {*/
        /*display:block !important;*/
        /*width:100% !important;*/
    /*}*/
}
